body {
    font-family: Arial, sans-serif;
    background-color: #1876f2;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: transparent;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="email"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 30px;
}

button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    width: 40%;
}
.kkk{
    padding-left: 55px;
}
button[type="submit"]:hover {
    background-color: #0056b3;
}