.left_img img{
    margin: 50px 70px;
    width: 750px;
    height: 550px;
    position: relative;
    border-radius: 10%;
}
.head{
    position: absolute;
    top: 25%;
    left: 55%; 
    color: rgb(18, 78, 181);
    font-size: 40px;
}
.head h1{
    font-family: 'Lexend Giga', sans-serif;
}
.head p{
    font-family: 'Lexend Giga', sans-serif;
}
.line1{
    border: 1px solid rgb(147, 147, 212);
    width: 1250px;
    margin: 0 auto;
}
.nums h1{
    font-family: 'Lexend Giga', sans-serif;
    margin-left: 530px;
    margin-top: 20px;
}
.box1{
    border: 0 solid black;
    width: 250px;
    height: 250px;
    background-color: aqua;
    outline: none;
    border-radius: 5%;
    margin-left: 50px;
}
.box1 h2{
    font-family: 'Lexend Giga', sans-serif;
    text-align: center;
    
}
